@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

a{
    text-decoration: none;
}
#barra-de-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#barra-de-navegacion a{
    margin-top: 10px;
    color: black;
}
#barra-de-navegacion ul{
    padding: 5px;
}
.pestaña:hover{
    text-decoration: underline;
}
#img-puntos{
    height: 30px;
    width: 30px;
    margin-top: 18px;
}
 #boton{
    padding: 10px 20px 35px 20px;
    background: #1A73E8;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 8px;
    border-radius:4px;
    height: 40px;
    width: 100px;
    vertical-align: middle;
 }
 #boton span{
     color: #fff;
 }
 #logo{
    position: relative;
    left: 630px;
    top: 180px;
 }
 #buscador{
     height: 50px;
     width: 800px;
     border-radius: 30px;
     border: 1px solid rgba(70, 67, 67, 0.87);
     margin-left: 330px;
     margin-top: 190px;
 }
 #search-icon{
     width: 30px;
     height: 30px;
     position: relative;
     left: 380px;
     top: 10px;
 }
 #google-mic{
    width: 30px;
    height: 30px;
    position: relative;
    left: -50px;
    top: 10px;
 }
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}
#boton1{
    border: 0.5px solid transparent;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    font-weight: 800;
    cursor: pointer;
}
.region{
    position: relative;
    top: 140px;
    left: 25px;
    width: 200px;
    color: gray;
    font-weight: 600;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 160px;
    border-top: 0.5px solid gray;
    padding-top: 10px;
}
.primera-cajita{
    margin-left: 10px;
    font-weight: 600;
}
.primera-cajita a{
    padding: 0 10px;
    color: gray;
}
.primera-cajita a:hover{
    text-decoration: underline;
}
.segunda-cajita{
    margin-left: 10px;
    font-weight: 600;
}
.segunda-cajita a{
    padding: 0 10px;
    color: gray;
}
.segunda-cajita a:hover{
    text-decoration: underline;
}
@media (min-width: 320px) and (max-width: 768px){
    
    #barra-de-navegacion{
        justify-content: flex-end;
        font-size: 12px;
        /* margin-top: 5px; */
    }
    #img-puntos{
        margin-top: 10px;
        width: 7%;
    }
    #boton{
        height: 30px;
        width: 50px;
        padding: 5px;
        margin: 4px;
        font-size: 12px;
    }
    #logo{
        width: 50%;
        position: relative;
        top: 120px;
        left: 120px;
     }
     #buscador{
        height: 30px;
        width: 300px;
        margin-left: 70px;
        margin-top: 130px;

    }
    #search-icon{
        width: 20px;
        height: 20px;
        position: relative;
        left: 100px;
        top: 5px;
    }
    #google-mic{
       width: 20px;
       height: 20px;
       position: relative;
       left: -35px;
       top: 5px;
    }
    #boton1{
        justify-content: space-around;
        font-size: 12px;
    }
    .region{
        font-size: 12px;
        top: 260px;
        left: 25px;
    }
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 270px;
        border-top: 0.5px solid gray;
        padding-top: 10px;
        font-size: 12px;
    }
    
    .primera-cajita{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5px;
    }

} 

